/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 1000px;
$width-outer: $width + 30px;

/* Colors */
$text: #333;
$links: #c8c9b1;
$hover: red;

$bg: #FFF;

/* Fonts */
$main: sans-serif;
$headings: 'Open Sans', 'Arial', 'Helvetica', sans-serif; 
$font-italic: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$font-bold-heading: 'Open Sans', 'Arial', 'Helvetica', sans-serif; 

/* Borders */
$border: 1px solid #000;

