body {
	background: $bg;
	margin: 0;
	padding: 0;
	min-width: $width-outer;
}
#page {
	padding: 0 15px;
	margin: auto;
}
#main {
	clear: both;
}
#primary.full-width,
#primary.full-width #content {
	width: 100%;
	float: none;
}
#colophon {
	clear: both;
	overflow: hidden;
}
/* Sticky footer */
@include sticky-footer(50px, '#page','#main','#colophon');

